.inventryform{
    margin-left: 28rem;
    margin-top: -20px;

}
.bdradius{
    border-radius: 14px;
    border: 1px solid seashell;
    padding-left: 15px;
    margin-top: 10px;
}

.btnm{
    margin-left: 50px;
}