<div class="container mt-5">
    <table class="table table-striped">
<thead>
    <tr>
        <th>id</th>
        <th>departmentName</th>
        <th>noOfMember</th>
        
         
    </tr>
</thead>
<tbody>
    <tr *ngFor="let obj of depart; let j=index">
        <td>{{obj.id}}</td>
        <td>{{obj.departmentName}}</td>
        <td>{{obj.noOfMember}}</td>

        <td><a class="btn btn-sm text-white btn-danger" (click)="deletedepart(obj.id)" >Delete</a></td>
    </tr>
    
</tbody>
    </table>
</div>

