<div class="text-center mt-4 name">
    <h1>Post reservation Data</h1>
</div>
<form novalidate>

    <div class="wrapper">
        <div class="text-center mt-4 name"> Add </div>
        <form class="p-3 mt-3 reservationform" #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
            <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span>
                <input type="text" class="bdradius" name="code" id="code" placeholder='code' #code="ngModel" ngModel required />
                <span *ngIf="code.invalid && code.touched" style="color:red;">enter valid code</span>
            </div>
            <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span>
                <input type="text" class="bdradius" name="numberOfChildren" id="numberOfChildren" placeholder='numberOfChildren' #noc="ngModel" ngModel required />
                <span *ngIf="noc.invalid && noc.touched" style="color:red;">enter valid number of children</span>
            </div>
            <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span>
                <input type="text" class="bdradius" name="numberOfAdults" id="numberOfAdults" placeholder='numberOfAdults' #adults="ngModel" ngModel required />.
                <span *ngIf="adults.invalid && adults.touched" style="color:red;">enter valid number of audlts</span>
            </div>
            <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span>
                <input type="text" class="bdradius" name="checkInDate" id="checkInDate" placeholder='checkInDate' #cid="ngModel" ngModel required />
                <span *ngIf="cid.invalid && cid.touched" style="color:red;">enter valid check in data</span>
            </div>
            <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span>
                <input type="text" class="bdradius" name="checkOutDate" id="checkOutDate" placeholder='checkOutDate'#cod="ngModel" ngModel required />
                <span *ngIf="cod.invalid && cod.touched" style="color:red;">enter valid check Out Date</span>
            </div>
            <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span>
                <input type="text" class="bdradius" name="status" id="status" placeholder='status' #status="ngModel" ngModel required />
                <span *ngIf="status.invalid && status.touched" style="color:red;">enter valid status</span>
            </div>
            <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span>
                <input type="text" class="bdradius" name="numberOfNights" id="numberOfNights" placeholder='numberOfNights' #non="ngModel" ngModel required />
                <span *ngIf="non.invalid && non.touched" style="color:red;">enter valid number of nights</span>
            </div>



            <button class="btn mt-3 btn-primary btnm" type="submit"[disabled]="userForm.invalid" >Post</button>
        </form>
    </div>

<router-outlet></router-outlet>