<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex ">
    <div class="container">
        <img src="assets/images/logo_img/care_vision.png" width="5%" />
        <a class="navbar-brand" href="#">WELCOME TO HOTEL MANAGMENT SYSTEM</a> 
            <a routerLink="login"> 
              <button class=" first btn btn-danger btn-lg btn-block">Login</button>  </a>
        </div>

</nav>

<div class="home">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" >
            <img src="https://www.gannett-cdn.com/-mm-/05b227ad5b8ad4e9dcb53af4f31d7fbdb7fa901b/c=0-64-2119-1259/local/-/media/USATODAY/USATODAY/2014/08/13/1407953244000-177513283.jpg" class="d-block w-100" alt="slide1">
          </div>
          <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1564501049412-61c2a3083791?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGhvdGVsfGVufDB8fDB8fA%3D%3D&w=1000&q=80" class="d-block w-100" alt="slide2">
          </div>
          <div class="carousel-item">
            <img width="100%" src="https://www.robotshop.com/community/uploads/m/a/matthewdevitt/henna-hotel.jpg" alt="slide3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      
      <div class="row1">
        <div class="Body">
            <h3>About Us</h3>
            <p>We develop custom, creative, and measurable marketing strategies for hospitality brands of all sizes, all around the world.
              For more than a decade, Care-Vision has helped hotel management teams drive direct bookings, reduce their dependence on OTAs, and exceed ownership’s expectations.
              
              </p>
            <p>Trust the best. Our teams have been certified as premier online professionals, marketers, and specialists that have been trained by Google.</p>
        </div>
        <div class="Body">
            <h3>Services</h3>
            <p>A hospitality website’s ultimate goal is to drive bookings. Our campaigns will bring traffic to your site, but we also make sure those users are able to book with ease. Our team will ensure your site’s conversion path is as easy as possible for users.
</p>
            <p>Our Search Marketing & Social Media Marketing Teams worked together to increase bookings by 16%, contributing to a 14% lift in revenue for this client.None of our efforts matter if we can’t see the results. Care-Vision ensures all of your important data points are being tracked. We also look for new data points to begin tracking, adding even more data to inform our on-site optimizations and outbound campaigns.</p>
        </div>
        <div class="Body">
            <h3>Privacy Policy</h3>
            <p>Care Vision is India’s leading online travel booking brand providing range of choice for hotels, flights, trains, bus and cars for travelers. Our core value differentiator is the most trusted user experience, be it in terms of quickest search and booking, fastest payments, settlement or refund processes. Through GoStays, our customers enjoy standardised stay experience at certified hotel properties. With industry first virtual travel booking currency GoCash and travel social network, GoCash+ Rewards – Care Vision is the number one choice for new India on the move.</p>
        </div>
      </div>
    
</div>
