<div class="text-center mt-4 name">
    <h1>Post Guest Data</h1>
</div>
<form novalidate>

    <div class="wrapper">
        
        <form class="p-3 mt-3 guestform" #userForm="ngForm" (ngSubmit)="onAdd(userForm.value)">
            <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span>
                <input type="text" class="bdradius" name="memberCode" id="memberCode" placeholder='memberCode' #rPrice="ngModel" ngModel required />
                <span *ngIf="rPrice.invalid && rPrice.touched" style="color:red;">enter valid room price</span>
            </div>
            <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span>
                <input type="text" class="bdradius" name="phoneNumber" id="phoneNumber" placeholder='phoneNumber' #phoneNumber="ngModel" pattern="^[6-9]\d{9}$" ngModel required />
                <span *ngIf="phoneNumber.invalid && phoneNumber.touched" style="color:red;">enter valid phone number</span>
            </div>
            <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span>
                <input type="text" class="bdradius" name="company" id="company" placeholder='company' #company="ngModel" ngModel required />
                <span *ngIf="company.invalid && company.touched" style="color:red;">enter valid company name</span>
            </div>
            <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span>
                <input type="text" class="bdradius" name="name" id="name" placeholder='name' #name="ngModel" pattern="[a-zA-Z]+$"ngModel required />
                <span *ngIf="name.invalid && name.touched" style="color:red;">enter valid name</span>
            </div>
            <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span>
                <input type="text" class="bdradius" name="email" id="email" placeholder='email' #email="ngModel" email ngModel required /><span *ngIf="email.invalid && email.touched" style="color:red;">enter valid email</span>
            </div>
            <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span>
                <input type="text" class="bdradius" name="gender" id="gender" placeholder='gender' #gender="ngModel" ngModel required />
                <span *ngIf="gender.invalid && gender.touched" style="color:red;">enter gender</span>
            </div>
            <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span>
                <input type="text" class="bdradius" name="address" id="address" placeholder='address' #address="ngModel" ngModel required />
                <span *ngIf="address.invalid && address.touched" style="color:red;">enter valid address</span>
            </div>
            <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span>
                <input type="number" #amount="ngModel" class="bdradius" name="amount" id="amount" placeholder='Amount' [(ngModel)]="amt" required />
                <span *ngIf="amount.invalid && amount.touched" style="color:red;">enter valid amount</span>
            </div>
 


             <button class="btn mt-3 btn-primary btnm" type="submit"[disabled]="userForm.invalid">Submit</button> 
        </form>
    </div>
