<div class="bk-color">
    <br>
    <br>
    <br>
    
        <div class="container">
             <div class="row"> 
            
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link ownr" aria-current="page" routerLink="department-service">Department</a>
              </li>
              <li class="nav-item">
                <a class="nav-link full" routerLink="full-report"> Full Report</a>
              </li>      
      
            </ul>
          </div>
          <router-outlet></router-outlet>
</div>
